body {
	padding-top: 440px;
	background-color: #F5F8FA;
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #292F33;
}

.post img {
	width:95%;
	height: auto;
	padding-top: 7px;
	padding-bottom: 7px;
}
.post iframe {
	width:95%;
	height: 300px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.post:hover {
	background-color: #F5F8FA;
}

.navbar-nav.nav-justified > li{
    float:none;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

ul {
    list-style: none outside none;
}

ul li:not(:last-child) {
    border-right:1px solid #DDDDDD;
    /*margin-right:20px;*/
  /*  margin-left: 0.1px;
    margin-left: 0.1px;*/
    /*margin-right: 1px;*/
    /*padding-right:20px;*/
    /*float:left;*/
}

#last-li {
	border-right:0px;
}

ul li {
	text-decoration: none;
	margin-left: 0.5px;
	color: #43ACEC;
	font-size: 18px;
	font-weight: 200;
    cursor: pointer;
    /*float: left;*/
    margin: 0;
    width:200px;
    height:50px;
    line-height:50px;
    position: relative;
    text-align:center;
    border-bottom: 0px solid #43ACEC;

}
.clearfix {
    clear: both;
}

ul li:hover:after,
ul li.active:after{
	/*margin-left: 0.5px;*/
	margin-left: 0.4px;
    border-bottom: 5px solid #43ACEC;
    bottom: -1px;
    content: "";
    left: 0;
    position: absolute;
    width: 199px;
    -webkit-animation: borderGrow 0.07s;
  	animation: borderGrow 0.07s;
  	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes borderGrow {
  from {
    border-bottom: 0px solid #43ACEC;
  }
  to {
    border-bottom: 4px solid #43ACEC;
  }
}

.header {
	font-family: Lato, Arial, sans-serif;
	font-size: 55px;
	letter-spacing: 2px;
	font-weight: bold;
	margin-top: 7px;

}

.subheader {
	opacity: 0.85;
	font-size: 24px;
	font-weight: lighter;
}

.title {
	color: white;
}

#invisible-line {
	position: absolute;
	top: 695px;
	left: 0px;
	width: 100%;
	height: 1px;
}

#invisible-line-2 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 1px;
}


.outline {
	border: 2px solid black;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#feed-outline {
	border: 1px solid #E0E8ED;
	border-radius: 10px;
	margin-bottom: 30px;
	overflow: hidden;
	background-color: white;
}

.project-title {
	font-weight: bold;
}

.post {
	line-height: 18px;
	margin-right: -50px;
	cursor: pointer;
}

.project-title span {
	color: #8899a6;
	font-size: 14px;
	font-weight: normal;
}

.bottom-line {
	border-bottom: 1px solid #E0E8ED;
}

.project-description {
	padding-right: 30px;
}

.links {
	margin-top: 10px;
	margin-bottom: 2px;
}

.center-img {
	display:block;
    margin:0 auto;
}

.project-text {
	margin-left: -17px;
	margin-right: 0px;
}

.app-icon {
	width: 60px; /* was 60 */
	height: 60px;
	border-radius: 5px;
}

.feed-title {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}

#profile {
	border-radius: 100px;
	border: 2px solid white;
	width: 120px;
	height: 120px;
}

#nav-links {
	margin-top: 0px;
	padding-top: 0px;
}

#cover-page {
	/*height: 230px;*/
  /*background: -webkit-gradient(linear, left top, right top, from(rgba(0, 207, 150, 1)), to(rgba(73, 173, 233, 1)));*/
  /*rgba(0, 207, 150, 0.5); /* #00CF96 */
  /*rgba(73, 173, 233, 0.5); /* #49ADE9 */
  overflow: hidden;

  background: -webkit-linear-gradient(left, rgba(73, 173, 233, 1), rgba(0, 207, 150, 1));


 /* background: -moz-linear-gradient(left, rgba(73, 173, 233, 0.9), rgba(0, 207, 150, 0.9));

 
  background: -ms-linear-gradient(left, rgba(73, 173, 233, 0.9), rgba(0, 207, 150, 0.9));


  background: -o-linear-gradient(left, rgba(73, 173, 233, 0.9), rgba(0, 207, 150, 0.9));*/
  /*background-color: #B1B8BD;
    background-position: 0 0;
    background-repeat: no-repeat;

  
    background-image: url('../img/Twitter.png');

   
    background-image: url('../img/Twitter.png'), 
                      -moz-linear-gradient(top, #ADB2B6 0%, #ABAEB3 100%);
    background-image: url('../img/Twitter.png'), 
                      -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ADB2B6), color-stop(100%, #ABAEB3));
    background-image: url('../img/Twitter.png'), 
                      linear-gradient(to bottom, #ADB2B6, #ABAEB3);

  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ADB2B6', endColorstr='#ABAEB3', GradientType=0);*/
}

#pic {
	background-image: url('../img/back3.jpg');
	background-size: 100%;
}

/* navbar */
.navbar-default {
	background-color: #FFFFFF;
}